body{
   padding-top: 4rem;
}


.jumbotron-detail{
    background:url('images/cross15.svg') no-repeat fixed;
    background-size: cover;
    background-color:green ;
}

.jumbotron{
    height:40vh;
}
.nav-color{
    background: #FFFFFF;
}

.jumbotron-order{
    background:url('images/cross17.svg') no-repeat fixed;
    background-size: cover;
    background-color:black;
}

.carousel{
    margin-bottom: 4rem;
}

.carousel-caption{
    bottom: 3rem;
    z-index: 10;
}
.carousel-item{
    height: 32rem;
    max-width:100vw;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.welcome-carousel-image1{
    box-shadow: inset 0 0 0 100vw rgba(0,0,0, 0.3);
    background-image: url('images/cross19.svg');
}

.welcome-carousel-image2{
    box-shadow: inset 0 0 0 100vw rgba(0,0,0, 0.3);
    background-image: url('images/cross21.svg');
}

.welcome-carousel-image3{
    box-shadow: inset 0 0 0 100vw rgba(0,0,0, 0.3);
    background-image: url('images/cross20.svg');
}
.title{
    color: #6562ce !important;
    background: #FFFFFF;
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, 
    -1px 2px #808d93, -2px 1px #cdd2d5,
     -2px 3px #808d93, -3px 2px #cdd2d5,
      -3px 4px #808d93, -4px 3px #cdd2d5, 
     -4px 5px #808d93, -5px 4px #cdd2d5, 
     -5px 6px #808d93, -6px 5px #cdd2d5, 
     -6px 7px #808d93, -7px 6px #cdd2d5, 
     -7px 8px #808d93, -8px 7px #cdd2d5;
    color: #202c2d;
    background: #FFFFFF;
}

.backg-footer{
    background:#6562ce;
}

.content{
    margin-top: 2rem;
    margin-bottom: 10rem;
}

div.icons a i{
    color: #FFFFFF;
    font-size: 25px;
    margin: 0.5rem;
}

div.links a{
    color: #FFFFFF !important;
}

div.icons a i:hover{
    transform:rotate(360deg);
    transition-duration: 1000ms;
}

.line{
    width: 100%;
    height: 3px;
    background:#000000;
    box-shadow: 10px 10px 8px #000000;
    
}

.line-title{
    text-align: center;
}

.card{
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-color: transparent;
    border-radius: 10px !important;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.author{
    color: #f5cf66 !important;
}

.button-color{
    background:#6562ce;
    color: #FFFFFF;
}

.home-p{
    margin-bottom: 2.75rem !important;
    margin-top: 2.75rem !important;
}

.map-responsive{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}